<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>



<style>
    body {
        background-image: url('https://wallpaperaccess.com/full/39607.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
}
</style>

<h1>Recommendations System</h1> 

        
</head>
        
<body>
      
        
</body>
</html>